In [1]:
import numpy as np
import pandas as pd

In [34]:
df = pd.read_csv('olympic.csv')
df

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976,Aquatics,Diving,3m springboard,"K�HLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
15311,Beijing,2008,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
15312,Beijing,2008,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
15313,Beijing,2008,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
15314,Beijing,2008,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
15315,Beijing,2008,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [58]:
df.groupby(['Athlete']).count().sort_values('City', ascending= False).head(10)

,City,Year,Sport,Discipline,Event,Gender,Country_Code,Country,Event_gender,Medal
Athlete,,,,,,,,,,
"PHELPS, Michael",16,16,16,16,16,16,16,16,16,16
"FISCHER, Birgit",12,12,12,12,12,12,12,12,12,12
"NEMOV, Alexei",12,12,12,12,12,12,12,12,12,12
"TORRES, Dara",12,12,12,12,12,12,12,12,12,12
"THOMPSON, Jenny",12,12,12,12,12,12,12,12,12,12
"ANDRIANOV, Nikolay",12,12,12,12,12,12,12,12,12,12
"COUGHLIN, Natalie",11,11,11,11,11,11,11,11,11,11
"BIONDI, Matthew",11,11,11,11,11,11,11,11,11,11
"DITYATIN, Aleksandr",10,10,10,10,10,10,10,10,10,10
"SCHERBO, Vitaly",10,10,10,10,10,10,10,10,10,10

In [60]:
phelps_df = df[df['Athlete'] == 'PHELPS, Michael']
phelps_df[['Year', 'City', 'Event', 'Medal']]

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
11327,Athens,2004,Aquatics,Swimming,100m butterfly,"PHELPS, Michael",Men,USA,United States,M,Gold
11330,Athens,2004,Aquatics,Swimming,200m individual medley,"PHELPS, Michael",Men,USA,United States,M,Gold
11349,Athens,2004,Aquatics,Swimming,400m individual medley,"PHELPS, Michael",Men,USA,United States,M,Gold
11363,Athens,2004,Aquatics,Swimming,4x200m freestyle relay,"PHELPS, Michael",Men,USA,United States,M,Gold
11369,Athens,2004,Aquatics,Swimming,4x100m freestyle relay,"PHELPS, Michael",Men,USA,United States,M,Bronze
11383,Athens,2004,Aquatics,Swimming,4x100m medley relay,"PHELPS, Michael",Men,USA,United States,M,Gold
11413,Athens,2004,Aquatics,Swimming,200m butterfly,"PHELPS, Michael",Men,USA,United States,M,Gold
11459,Athens,2004,Aquatics,Swimming,200m freestyle,"PHELPS, Michael",Men,USA,United States,M,Bronze
13320,Beijing,2008,Aquatics,Swimming,200m freestyle,"PHELPS, Michael",Men,USA,United States,M,Gold
13332,Beijing,2008,Aquatics,Swimming,400m individual medley,"PHELPS, Michael",Men,USA,United States,M,Gold
13343,Beijing,2008,Aquatics,Swimming,4x100m medley relay,"PHELPS, Michael",Men,USA,United States,M,Gold
13346,Beijing,2008,Aquatics,Swimming,100m butterfly,"PHELPS, Michael",Men,USA,United States,M,Gold
13378,Beijing,2008,Aquatics,Swimming,200m butterfly,"PHELPS, Michael",Men,USA,United States,M,Gold
13450,Beijing,2008,Aquatics,Swimming,4x100m freestyle relay,"PHELPS, Michael",Men,USA,United States,M,Gold
13451,Beijing,2008,Aquatics,Swimming,4x200m freestyle relay,"PHELPS, Michael",Men,USA,United States,M,Gold
13480,Beijing,2008,Aquatics,Swimming,200m individual medley,"PHELPS, Michael",Men,USA,United States,M,Gold

In [51]:
df[df['Athlete'] == 'FISCHER, Birgit']

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
1748,Moscow,1980,Canoe / Kayak,Canoe / Kayak F,K-1 500m (kayak single),"FISCHER, Birgit",Women,GDR,East Germany,W,Gold
4669,Seoul,1988,Canoe / Kayak,Canoe / Kayak F,K-1 500m (kayak single),"FISCHER, Birgit",Women,GDR,East Germany,W,Silver
4674,Seoul,1988,Canoe / Kayak,Canoe / Kayak F,K-2 500m (kayak double),"FISCHER, Birgit",Women,GDR,East Germany,W,Gold
4682,Seoul,1988,Canoe / Kayak,Canoe / Kayak F,K-4 500m (kayak four),"FISCHER, Birgit",Women,GDR,East Germany,W,Gold
6335,Barcelona,1992,Canoe / Kayak,Canoe / Kayak F,K-4 500m (kayak four),"FISCHER, Birgit",Women,GER,Germany,W,Silver
6395,Barcelona,1992,Canoe / Kayak,Canoe / Kayak F,K-1 500m (kayak single),"FISCHER, Birgit",Women,GER,Germany,W,Gold
8100,Atlanta,1996,Canoe / Kayak,Canoe / Kayak F,K-2 500m (kayak double),"FISCHER, Birgit",Women,GER,Germany,W,Silver
8122,Atlanta,1996,Canoe / Kayak,Canoe / Kayak F,K-4 500m (kayak four),"FISCHER, Birgit",Women,GER,Germany,W,Gold
10026,Sydney,2000,Canoe / Kayak,Canoe / Kayak F,K-4 500m (kayak four),"FISCHER, Birgit",Women,GER,Germany,W,Gold
10055,Sydney,2000,Canoe / Kayak,Canoe / Kayak F,K-2 500m (kayak double),"FISCHER, Birgit",Women,GER,Germany,W,Gold
12043,Athens,2004,Canoe / Kayak,Canoe / Kayak F,K-2 500m (kayak double),"FISCHER, Birgit",Women,GER,Germany,W,Silver
12087,Athens,2004,Canoe / Kayak,Canoe / Kayak F,K-4 500m (kayak four),"FISCHER, Birgit",Women,GER,Germany,W,Gold

In [57]:
df[df['Athlete'] == 'THOMPSON, Jenny']

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
5712,Barcelona,1992,Aquatics,Swimming,4x100m freestyle relay,"THOMPSON, Jenny",Women,USA,United States,W,Gold
5736,Barcelona,1992,Aquatics,Swimming,4x100m medley relay,"THOMPSON, Jenny",Women,USA,United States,W,Gold
5752,Barcelona,1992,Aquatics,Swimming,100m freestyle,"THOMPSON, Jenny",Women,USA,United States,W,Silver
7525,Atlanta,1996,Aquatics,Swimming,4x100m medley relay,"THOMPSON, Jenny",Women,USA,United States,W,Gold
7551,Atlanta,1996,Aquatics,Swimming,4x200m freestyle relay,"THOMPSON, Jenny",Women,USA,United States,W,Gold
7553,Atlanta,1996,Aquatics,Swimming,4x100m freestyle relay,"THOMPSON, Jenny",Women,USA,United States,W,Gold
9297,Sydney,2000,Aquatics,Swimming,4x100m medley relay,"THOMPSON, Jenny",Women,USA,United States,W,Gold
9307,Sydney,2000,Aquatics,Swimming,4x200m freestyle relay,"THOMPSON, Jenny",Women,USA,United States,W,Gold
9383,Sydney,2000,Aquatics,Swimming,4x100m freestyle relay,"THOMPSON, Jenny",Women,USA,United States,W,Gold
9417,Sydney,2000,Aquatics,Swimming,100m freestyle,"THOMPSON, Jenny",Women,USA,United States,W,Bronze
11355,Athens,2004,Aquatics,Swimming,4x100m freestyle relay,"THOMPSON, Jenny",Women,USA,United States,W,Silver
11416,Athens,2004,Aquatics,Swimming,4x100m medley relay,"THOMPSON, Jenny",Women,USA,United States,W,Silver